<!--DOCTYPE html-->

<html lang="en">
    <header>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Healthy County</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "static/styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
        <script type="text/javascript" src="static/index.js"></script>
        <script type="text/javascript" src="static/styles.css"></script>
    </header>

    <body>
    <!-- Navigation! -->

    <nav class="navbar sticky-top navbar-dark bg-primary">
            <!-- Navbar content -->
            <marquee>Navigation placeholder to different sectiions in the HTML.</marquee>

    </nav>
          

        <div>
            <h3>
            <marquee>Some text + .svg can scroll here</marquee>
                <img id="leafImage">
            </h3>
        </div>


        <div class="container-fluid">
            <div class="jumbotron"> <!--to be replaced by carusol-->
                <h1>Healthy County</h1>
                <h3>Use Case 1 to be displayed</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="panel panel-primary dropdown">
                                <div class="panel-heading">
                                        <h5>Preference 1</h5>
                                </div>
        
                                <div class="panel-body">
                                        <select id="selDataset" aria-placeholder="Select Sample" onchange="optionChanged(this.value)">
                                        </select>
                                </div>
                            </div>
                        </div>

                       

                        </div>
                    </div>
                </div>
        

      


    </body>

<Footer>

            <!--Copyright-->
    <div class="footer-copyright">
            
        <p style="text-align: center;">
                © 2018 Copyright: Team Healthy County
        </p>
    </div>
           
</Footer>
</html>
